nav .secondary-navigation{display:flex;align-items:center}

.user-avatar{display:flex;align-items:center;justify-content:center;background-color:#3691a1;font-size:18px;width:36px;height:36px;border-radius:50%}